.navbar {
  background-color: #484848;
  color: white;
  padding: 10px 0;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .left {
      h1 {
        margin: 0;
      }
    }

    .right {
      display: flex;
      gap: 20px;

      a {
        text-decoration: none;
        color: white;
        cursor: pointer;

        span {
          padding: 5px 10px;
          border-radius: 5px;
          &:hover {
            background-color: #555;
          }
        }
      }
    }
  }
}
