.navbar {
  display: flex;
  padding: 20px;
  .container {
    display: flex;
    align-items: center;
    gap: 50px;
    justify-content: flex-end;
    width: 100%;
    .left {
      flex: 8;
      color: rgb(8, 82, 82);
    }
    .right {
      display: flex;
      flex: 2;
      gap: 30px;
    }
  }
}
